* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

body {
    margin: 0;
    padding: 0;
    background-color: #001F3F; /* 60% transparency */
    position: relative;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

.theater-container {
    margin-top: 1px;

}

.theater-container select{
    background-color: azure;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    appearance: none;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
}

.seat {
    background-color: #444451;
    height: 26px;
    width: 32px;
    margin: 3px;
    /* font-size: 50px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: green;
}

.seat.sold{
    background-color: #fff;
}

.seat:nth-of-type(2){
    margin-right: 18px;
}

.seat:nth-last-of-type(2){
    margin-left: 18px;
}

.seat:not(.sold):hover{
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.showcase li small {
    margin-left: 5px;
    color: #fcfcfc;
}

.row{
    display: flex;
}

.screen {
    background-color: #b3bfd7d4;
    height: 120px;
    width: 100%;
    margin: 15px 0;
    transform: rotatex(-28deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.938);
}

p.text {
    margin: 5px;
    margin-bottom: 50px;
    margin-top: 25px;
}

p.text span {
    color: green;
}
}

.navbar {
    background: #6990fc20;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 100px;
    position: relative;
    border-radius: 15px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar .main-menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0; 
}

a {
    text-decoration: none;
    color: #fcfcfc;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.75s;
    color: #fffcfc;
    text-decoration: none;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}
.logo {
    margin-right: 20px;
}
.logo-container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1px;
    border-radius: 15px;
    width: fit-content;
}

.logo-container img {
    max-height: 150px;
    max-width: 150px;
    display: block;
    margin: auto;
}

.submit-button {
    margin-top: 1px;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #444451;
    color: #fff;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s ease;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.065);

}

.submit-button:hover {
    background-color: green;
}

.spectacle-info-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center button text */
}

.spectacle-info-container img {
    max-width: 100%;
    max-height: 40rem; /* Adjust as needed */
    display: block;
    margin: 0 auto;
}

.book-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
}

.book-button:hover {
    background-color: #0056b3;
}

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

.span .psw {
    float: right;
    padding-top: 16px;
    text-align: center;
    color: black;
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
